/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap");

body {
    margin: 0;
	padding: 1rem;
	background-color: hsl(47, 88%, 63%);
	font-family: "Figtree", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100svh;
}

main {
	max-width: 24rem;
	top: 50%;
	left: 50%;
	background-color: white;
	border-radius: 30px;
	border: 1px solid black;
    box-shadow: 10px 10px 0px black;
}

main img {
    max-width: 100%;
    display: block;
    padding: 20px;
	border-radius: 25px;
}

.text {
	padding: 0px 20px;
}

.btn {
	background-color: hsl(47, 88%, 63%);
	color: hsl(0, 0%, 7%);
	border: none;
	font-weight: 800;
	text-align: center;
	border-radius: 5px;
	padding: 8px;
	display: block;
    margin-bottom: 12px;
}

.published {
	font-weight: 500;
    font-size: .9rem;
}

h1 {
	font-weight: 800;
    padding-bottom: 3px;
}

p {
	font-size: 1rem;
	color: hsl(0, 0%, 50%);
	font-weight: 500;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar img {
    max-width: 12%;
    padding: 25px 10px 25px 0px;
}

.avatar-span {
	font-weight: 800;
}

.attribution {
    padding-top: 8%;
	font-size: 0.6875rem;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
